body{
  background-color: #d7dfe4;
}
.skilltable{
  border-spacing: 15px;
}
.bottomtable{
  margin-left:auto;
  margin-right: auto;
}
.skillstyle{
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  border-color: grey;
  background-color: #9db8cb;
}
.bottomline{
  background-color: #d7dfe4;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 7%;
  }
.bottomcontact{
  text-align:center;
}
.marksearstyle{
  color: grey;
}
.LEFTRIBBONBLOCK{
  height: 100%;
  width: 50%;
}
.RIGHTRIBBONBLOCK{
  height: 100%;
  width: 50%;
}
.myphoto{
  height: 120px;
}
.HEADING{
  height: 180px;
  width: 100%;
}
.RIBBON{
  background-color: #3a79a2;
  height: 125px;
  width: 100%;
  display: flex;
}
.LEFTCOLUMN{
  height: 100%;
  width: 50%;
}
.RIGHTCOLUMN{
  height: 100%;
  width: 50%;
}
.gridcontainer{
  padding-top: 5px;
  display: flex;  /* this is responsible for showin two DIV BLOCKS side by side */
}


